# This requirements file doesn't pin versions to allow for flexibility in updates and new packages included.
# It is recommended to rebuild the environment after specifying a new requirement, in order to leave pip to resolve the best versions.


# Core data science packages
numpy
pandas
scipy
matplotlib
seaborn

# Machine learning
scikit-learn
xgboost
lightgbm
catboost
imbalanced-learn

# Deep learning
tensorflow[and-cuda]
torch
torchvision

# Jupyter environment
jupyter
jupyterlab
ipykernel
ipython
notebook
ipywidgets
notebook

# Utilities
tqdm
requests

# Environment management
python-dotenv 